<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aixuexiao.dao.SigninDetailDao">

    <insert id="saveSigninDetail" parameterType="com.aixuexiao.model.SigninDetail">
        insert into signin_detail (id,studentid,classid,signid,flag,signtime )
        values(#{id},#{studentid},#{classid},#{signid},#{flag},#{signtime})
    </insert>

    <select id="selectSigninDetail"  parameterType="java.util.HashMap"   resultMap="SigninDetailMap"  >
        select id,studentid,classid,signid,flag,signtime
        from signin_detail
        <where>
            <if test="key != null and key != ''">signid IN (SELECT id FROM signin_num WHERE signnum like CONCAT('%','${key}','%' ))</if>
            <!--<if test="student.name != null and student.name != ''">and name like CONCAT('%','${student.name}','%' )</if>-->
        </where>
        order by id
        limit #{start},#{size}
    </select>

    <resultMap type="SigninDetail" id="SigninDetailMap">
        <id property="id" column="id" />
        <result property="studentid" column="studentid"/>
        <result property="classid" column="classid"/>
        <result property="signid" column="signid"/>
        <result property="flag" column="flag"/>
        <result property="signtime" column="signtime"/>

    </resultMap>

</mapper>