<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aixuexiao.dao.SigninNumDao">

    <insert id="saveSigninNum" parameterType="com.aixuexiao.model.SigninNum">
        insert into signin_num (id,signnum,signtime )
        values(#{id},#{signnum},#{signtime})
    </insert>
    <!--findLatestSigninNum-->
    <select id="findLatestSigninNum"   resultMap="SigninNumMap"  >
        select id,signnum,signtime
        from signin_num
        order by signtime
        desc limit 0,1
    </select>

    <select id="selectSigninNumById" parameterType="int"   resultMap="SigninNumMap"  >
        select id,signnum,signtime
        from signin_num
        where id = #{id}
    </select>

    <select id="getItems"    resultType="int"  >
        select count(*)
        from signin_num
    </select>

    <resultMap type="SigninNum" id="SigninNumMap">
        <id property="id" column="id" />
        <result property="signnum" column="signnum"/>
        <result property="signtime" column="signtime"/>

    </resultMap>

</mapper>